// Variables
$fonts: (
  serif: "Times New Roman",
  sans: "Comic Sans MS",
  mono: "Consolas",
  number: "Consolas",
);

// $colors: (
//   primary-white: #ccc,
//   primary-light: #999,
//   primary-medium: #666,
//   primary: #444,
//   primary-dark: #333,
//   // ?
//   // primary-white: #b9cee2,
//   // primary-light: #858ba0,
//   // primary-medium: #575e70,
//   // primary: #3f4650,
//   // primary-dark: #2b3036,
//   // ?
//   warning: #f90,
//   blue: #007bff,
// );

// Functions
@function font($font-name) {
  @return map-get($map: $fonts, $key: $font-name);
}

// @function color($color-name) {
//   @return map-get($map: $colors, $key: $color-name);
// }

// // overriding default Bootstrap variables
// $theme-colors: (
//   "primary": color(primary),
// );

// $link-color: (color(blue));

$font-family-sans-serif: font(sans);
$font-family-serif: font(serif);
$font-family-monospace: font(mono);
$font-family-base: font(sans);

// $dark: #222;

// $scrollbar-width: 1rem;

// load the rest of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

.monospace,
.monospace * {
  font-family: font(mono);
}


// * ripple

.ripple,
.ripple-light {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.25;
  transition: 0s;
}

.ripple-light:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple-light:active:after {
  transform: scale(0, 0);
  opacity: 0.25;
  transition: 0s;
}

//* ---

.container {
  transition: max-width 0.2s;
}

// ? ANIMATIONS
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn;
  animation-delay: 0.75s;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

//* -----
// ! angular animate is breaking ng-if -- fall back to no tweening animations

body {
  background-color: transparent;
  overflow: hidden;
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

body > .ng-enter {
  // transition-delay: 0.5s;
  animation: fadeIn;
  animation-duration: 0.25s;
  opacity: 0;
}

body > .ng-enter-active {
  opacity: 1;
}

body > .ng-leave {
  // transition-delay: 0.5s;
  animation: fadeOut;
  animation-duration: 0s;
  opacity: 1;
}

body > .ng-leave-active {
  opacity: 0;
}

// ! fixing problematic ng-if animations

.ng-hide.ng-hide-animate {
  display: none;
}

.hover-danger:hover {
  background-color: red;
  color: white;
}